<div id="<%= dom_id print %>">
  <p>
    <strong>Print on:</strong>
    <%= print.print_on %>
  </p>

  <p>
    <strong>Copies:</strong>
    <%= print.copies %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= print.label_id %>
  </p>

</div>
